<div id="user_form" class="wrapper offset2 span7">
	<%= semantic_form_for [@workplace, @user] do |f| %>
		<%= render partial: "user_fields", locals: { f: f } %>
	<div id="user_actions" class="span7">
		<%= f.actions do %>
			<%= f.action :submit, label: 'Update', button_html: { class: "btn btn-success" } %>
		<% end %>
	<% end %>
	</div>
</div>