<div id="calendar" class="fc fc-ltr" data-work-place="<%= @work_place.id %>"></div>
<div class="modal fade" id="new_shift">
  <div>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  </div>
  <div class="modal-body">
  </div>
</div>