<div id="flow_wrapper" class="row offset3 span8">
	<div id="open_wrapper" class="span3">
		<%= link_to "Open WorkPlace", work_place_steps_path, { class: "btn btn-success", data: { content: "popover content", title: "popover title", placement: "bottom" } } %>
	</div>
	<div id="find_wrapper" class="span3">
		<%= link_to "Find WorkPlace", "#", { class: "btn", data: { content: "popover content", title: "popover title", placement: "bottom" } } %>
	</div>
</div>