<div id="home_page" class="row">
	<div id="login_wrapper" class="row offset2 span8">
		<div id="sign_up" class="span4">
			<%= render template: "devise/registrations/new" %>
		</div>
		<div id="sign_in" class="span4">
			<%= render template: "devise/sessions/new" %>
		</div>
	</div>
</div>