/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.ui.all
 *= require formtastic-bootstrap
 *= require bootstrap_and_overrides
 *= require_tree .
 */
 
body#main_body {
 	background-image: url(asset-path("retina_wood.png"));
}

body#wedding_body {
 	background-image: url(asset-path("dark_wall.png"));
}

@font-face {
  font-family: handwrite;
  src: url(font-path('hand_write.ttf'));
}

.wrapper {
	background-color: #f5f5f5;
	box-shadow: 3px 3px 5px #888888;
	border-radius: 15px;
	padding: 30px;
	height: auto;
}
