#login_wrapper {
	background-color: #f5f5f5;
	box-shadow: 3px 3px 5px #888888;
	.form-actions {
		background-color: transparent;
		.btn {
			width: 150px;
			height: 30px;
			margin-bottom: 10px
		}
	}
	#sign_in {
		margin: 0;
		#user_remember_me {
			margin: 0;
		}
		label {
			display: inline-block;
		}
	}
	#sign_up {
	}
}

#flow_wrapper {
	margin-top: 80px;
	.btn {
		padding-top: 65px;
		width: 170px;
		height: 80px;	
	}
}