#login_wrapper {
	background-color: #f5f5f5;
	.form-actions {
		background-color: transparent;
		padding: 19px 0px 0px;
		margin: 0;
		border-top: none;
		.btn {
			width: 150px;
			height: 30px;
			margin-bottom: 10px
		}
	}
	#sign_in {
		margin: 0;
		#user_remember_me {
			margin: 0;
		}
		label {
			display: inline-block;
		}
	}
	#sign_up {
	}
}

#flow_wrapper {
	margin-top: 80px;
	.btn {
		padding-top: 65px;
		width: 170px;
		height: 80px;	
	}
}

// wedding
body#wedding_body {
	#invite_wrap {
		#text {
			line-height: 0.8;
			color: white;
			text-align: center;
			font-family: handwrite;
			p#primary {
				font-size: 110px;
			}
			p#secondary {
				font-size: 27px;
			}
		}
	}
	#pikame {
		li {
			display: none;
		}
	}
	.pikachoose {
		.pika-stage {
			height: 350px;
			background: inherit;
			border: none;
			padding: 0;
		}
		.pika-imgnav {
			display: none !important;
		}
		.pika-textnav {
			display: none !important;
		}
		.caption {
			display: none !important;
		}
	}
}